* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Luckiest Guy";
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

p {
    text-shadow:
        1px 1px 0 white, 
        -1px -1px 0 white,  
        1px -1px 0 white,  
        -1px 1px 0 white;
    padding-left: 2px;
}

/* Plateau */

.board{
    display : grid;
    grid-template-columns: repeat(15, 1fr) ;
    grid-template-rows: repeat(15, 1fr);
    gap: 2px;
    width: 600px;
    height: 600px;
    border: 2px solid black;
}

.board div {
    border: 1px solid black; /* Light border for each square */
}

.board div img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ou 'cover' si vous préférez que l'image remplisse la div sans la déformer */
}
/* Classe : */

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}


.isred{
    background-color:  rgb(255, 200, 200);
}
.isblue{
    background-color:  rgb(200, 200, 255);
}
.isyellow{
    background-color:  rgb(255, 255, 200);
}
.isgreen{
    background-color:  rgb(200, 255, 200);
}




/* Positionnement de chaque objet : */

#center{
    grid-column-start: 7;
    grid-column-end: span 3;
    grid-row-start: 7;
    grid-row-end: span 3;
    border-color: black;
    border-style: solid;
}

/* Maisons des chevaux */
#home_red {
    grid-column-start: 1;
    grid-column-end: span 6;
    grid-row-start: 1;
    grid-row-end: span 6;

    display : grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: repeat(4, 1fr);
    gap: 2px;
}
#subhome_red_0 {
    grid-column-start : 2;
    grid-row-start : 2;
}
#subhome_red_1 {
    grid-column-start : 3;
    grid-row-start : 2;
}
#subhome_red_2 {
    grid-column-start : 2;
    grid-row-start : 3;
}
#subhome_red_3 {
    grid-column-start : 3;
    grid-row-start : 3;
}


#home_blue {
    grid-column-start: 10;
    grid-column-end: span 6;
    grid-row-start: 1;
    grid-row-end: span 6;

    display : grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: repeat(4, 1fr);
    gap: 2px;
}
#subhome_blue_0 {
    grid-column-start : 2;
    grid-row-start : 2;
}
#subhome_blue_1 {
    grid-column-start : 3;
    grid-row-start : 2;
}
#subhome_blue_2 {
    grid-column-start : 2;
    grid-row-start : 3;
}
#subhome_blue_3 {
    grid-column-start : 3;
    grid-row-start : 3;
}

#home_yellow {
    grid-column-start: 10;
    grid-column-end: span 6;
    grid-row-start: 10;
    grid-row-end: span 6;

    display : grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: repeat(4, 1fr);
    gap: 2px;
}
#subhome_yellow_0 {
    grid-column-start : 2;
    grid-row-start : 2;
}
#subhome_yellow_1 {
    grid-column-start : 3;
    grid-row-start : 2;
}
#subhome_yellow_2 {
    grid-column-start : 2;
    grid-row-start : 3;
}
#subhome_yellow_3 {
    grid-column-start : 3;
    grid-row-start : 3;
}

#home_green {
    grid-column-start: 1;
    grid-column-end: span 6;
    grid-row-start: 10;
    grid-row-end: span 6;

    display : grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: repeat(4, 1fr);
    gap: 2px;
}
#subhome_green_0 {
    grid-column-start : 2;
    grid-row-start : 2;
}
#subhome_green_1 {
    grid-column-start : 3;
    grid-row-start : 2;
}
#subhome_green_2 {
    grid-column-start : 2;
    grid-row-start : 3;
}
#subhome_green_3 {
    grid-column-start : 3;
    grid-row-start : 3;
}

/* Chemin Final rouge */
#final_path_red_1{
    grid-column-start: 2;
    grid-row-start: 8;
}
#final_path_red_2{
    grid-column-start: 3;
    grid-row-start: 8;
}
#final_path_red_3{
    grid-column-start: 4;
    grid-row-start: 8;
}
#final_path_red_4{
    grid-column-start: 5;
    grid-row-start: 8;
}
#final_path_red_5{
    grid-column-start: 6;
    grid-row-start: 8;
}

/* Chemin Final bleu */
#final_path_blue_1{
    grid-column-start: 8;
    grid-row-start: 2;
}
#final_path_blue_2{
    grid-column-start: 8;
    grid-row-start: 3;
}
#final_path_blue_3{
    grid-column-start: 8;
    grid-row-start: 4;
}
#final_path_blue_4{
    grid-column-start: 8;
    grid-row-start: 5;
}
#final_path_blue_5{
    grid-column-start: 8;
    grid-row-start: 6;
}

/* Chemin Final jaune */
#final_path_yellow_1{
    grid-column-start: 14;
    grid-row-start: 8;
}
#final_path_yellow_2{
    grid-column-start: 13;
    grid-row-start: 8;
}
#final_path_yellow_3{
    grid-column-start: 12;
    grid-row-start: 8;
}
#final_path_yellow_4{
    grid-column-start: 11;
    grid-row-start: 8;
}
#final_path_yellow_5{
    grid-column-start: 10;
    grid-row-start: 8;
}

/* Chemin Final vert */
#final_path_green_1{
    grid-column-start: 8;
    grid-row-start: 14;
}
#final_path_green_2{
    grid-column-start: 8;
    grid-row-start: 13;
}
#final_path_green_3{
    grid-column-start: 8;
    grid-row-start: 12;
}
#final_path_green_4{
    grid-column-start: 8;
    grid-row-start: 11;
}
#final_path_green_5{
    grid-column-start: 8;
    grid-row-start: 10;
}

/* Cases de départs */
#start_red{
    grid-area: 7 / 2;
}
#start_blue{
    grid-area: 2 / 9;
}
#start_yellow{
    grid-area: 9 / 14;
}
#start_green{
    grid-area: 14 / 7;
}

/* Cases finales (avant le chemin final) */
#last_case_red{
    grid-area: 8 / 1;
}
#last_case_blue{
    grid-area: 1 / 8;
}
#last_case_yellow{
    grid-area: 8 / 15;
}
#last_case_green{
    grid-area: 15 / 8;
}

/* Cases avec étoiles */
#star_red{
    grid-area: 3 / 7;
}
#star_blue{
    grid-area: 7 / 13;
}
#star_yellow{
    grid-area: 13 / 9;
}
#star_green{
    grid-area: 9 / 3;
}


